* {
  box-sizing: border-box;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 1.5vw;
}

h4 {
  text-align: start;
  font-size: 1.5vw;

  margin: auto;
}

h1 {
  font-size: 4vw;
  text-align: center;
}

p {
  font-size: 1.2vw;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-image: url(../img/scroll.png);
  height: 15%;
  width: 100%;
}

.titre_article {
  padding: 5%;
}

.chapeau_article {
  padding: 2% 10% 2% 10%;
}

.texte_article {
  padding: 2% 20%;
}
.texte_article2 {
  margin: auto;
  width: 50%;
  padding-top: 2%;
}

.nom {
  font-style: italic;
  padding: 2% 20%;
}

body {
  background-color: #e1e1c3;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.flex>div {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.flex>div>img {

}
.w90{
  width: 90%;
}