.slider2 {
  height: auto;
  width: 70%;
  position: relative;
  margin: auto;
}

.slider_nav_button_next2 {
  right: -100px;
}

.slider_nav_button_previous2 {
  left: -100px;
}

.slider_content2 {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider_content_item2 {
  height: 100%;
  min-width: 100%;
}

.slider_content_item2 img {
  height: 100%;
  width: 100%;
}

.slider_nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider_nav2 button {
  transform: scale(1);
  transition-property: "scale()";
  transition-duration: 0.2s;
}

.slider_nav2 button:hover {
  transform: scale(1.1) !important;
}

.slider_nav2 button:active {
  transform: scale(1) !important;
}

.svg {
}
#rotate_180deg {
  transform: rotate(180deg);
}

.slider_nav_button2 {
  margin: auto;
  align-items: center;
  background: none;
  border: none;
  outline: none;
}
