.slider2 {
  height: auto;
  width: 70%;
  position: relative;
  margin: auto;
}

.slider_nav_button_next2 {
  right: -100px;
}

.slider_nav_button_previous2 {
  left: -100px;
}

.slider_content2 {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider_content_item2 {
  height: 100%;
  min-width: 100%;
}

.slider_content_item2 img {
  width: 70%;
}

.slider_nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider_nav2 button {
  transform: scale(1);
  transition-property: "scale()";
  transition-duration: 0.2s;
}

.slider_nav2 button:hover {
  transform: scale(1.1) !important;
}

.slider_nav2 button:active {
  transform: scale(1) !important;
}

#rotate_180deg {
  transform: rotate(180deg);
}

.slider_nav_button2 {
  margin: auto;
  align-items: center;
  background: none;
  border: none;
  outline: none;
}

.carou_musee {
  margin-top: 10%;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --translateZ: 400px;
  --faceWidth: 200px;
}

.carousel-scene {

  position: absolute;
  top: 75vw;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 110px;
  perspective: 640px;
}

.face {
  width: var(--faceWidth);
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  left: -4.5%;
}

.button_wrap {
  margin-top: 23rem;
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 23rem;
}

.f_01,
.back_01 {
  transform: rotateY(0deg) translateZ(var(--translateZ));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  height: 120px;
  width: var(--faceWidth);
  font-size: 4.4rem;
  background-color: white;
  border: 3px solid;
}

.f_02,
.back_02 {
  transform: rotateY(30deg) translateZ(var(--translateZ));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  height: 120px;
  width: var(--faceWidth);
  font-size: 4.4rem;
  background-color: white;
  border: 3px solid;
}

.f_03,
.back_03 {
  transform: rotateY(60deg) translateZ(var(--translateZ));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  height: 120px;
  width: var(--faceWidth);
  font-size: 4.4rem;
  background-color: white;
  border: 3px solid;
}

body {
  font-family: Arial, sans-serif;
}

.card {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 235px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.descri-info {
  margin-top: 20px;
}

.weather-icon img {
  width: 70px;
}

#temp-info {
  margin-top: 40px;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 36px;
  margin-left: 10%;
  margin-right: 10%;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}