footer {
  background-color: #333;
  width: 100%;
  overflow: hidden;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

footer .content {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

footer .content .box {
  margin-right: 20px;
}

footer .content .box:last-child {
  margin-right: 0px;
}

footer .content .box h4 {
  font-size: 2.5vw;
  font-weight: 500;
}

footer .waves {
  display: flex;
  flex-direction: row;
  animation: wave 40s ease infinite;
}

footer .waves .wave {
  margin-top: 30px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

footer .waves .wave__box {
  width: 30%;
  margin-left: -5%;
}

footer .waves .wave__box--1 {
  height: 22vw;
  border-radius: 200px 350px 0px 0px;
  background: linear-gradient(
    0deg,
    #00c3ff,
    #59d8ff,
    #7ee1ff,
    #b4edff,
    #aadceb,
    #fff,
    #fff,
    #fff
  );
}

footer .waves .wave__box--2 {
  height: 15vw;
  border-radius: 250px 200px 0px 0px;
  background: linear-gradient(
    0deg,
    #00c3ff,
    #59d8ff,
    #7ee1ff,
    #b4edff,
    #aadceb,
    #fff,
    #fff,
    #fff
  );
}

footer .waves .wave__box--3 {
  height: 20vw;
  border-radius: 500px 200px 0px 0px;
  background: linear-gradient(
    0deg,
    #00c3ff,
    #59d8ff,
    #7ee1ff,
    #b4edff,
    #aadceb,
    #fff,
    #fff,
    #fff
  );
}

footer .waves .wave__box--4 {
  height: 25vw;
  border-radius: 5350px 3000px 0px 0px;
  background: linear-gradient(
    0deg,
    #00c3ff,
    #59d8ff,
    #7ee1ff,
    #b4edff,
    #aadceb,
    #fff,
    #fff,
    #fff
  );
}

footer .waves .wave__box--5 {
  height: 28vw;
  border-radius: 400px 200px 0px 0px;
  background: linear-gradient(
    0deg,
    #00c3ff,
    #59d8ff,
    #7ee1ff,
    #b4edff,
    #aadceb,
    #fff,
    #fff,
    #fff
  );
}

@keyframes wave {
  0% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(-20%);
  }
}

.svg {
  height: 758px;
  width: 100%;
}
