* {
  box-sizing: border-box;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 75px;
  text-align: center;
}

h2 {
  padding: 0 0 10px 20px;
  margin-bottom: 0px;
  font-size: 50px;
}
h3 {
  font-size: 25px;
}

.instal_img1 {
  width: 1075px;
  aspect-ratio: 1075 / 443;
  object-fit: cover;
  float: right;
  shape-outside: margin-box;
  margin: 0 0 5px 20px;
}

.instal_txt {
  padding: 0 10px 0 10px;
  font-size: 25px;
}

.instal_img2 {
  width: 1075px;
  aspect-ratio: 1075 / 443;
  object-fit: cover;
  float: left;
  shape-outside: margin-box;
  margin: 0 20px 5px 0;
}
.container {
  margin: 50px 30px 50px 30px;
  padding: 20px 0 20px 0;
}

video {
  background-color: red;
}
