.instal_img1 {
width: 100%;
}

.instal_txt {
  padding: 0 10px 0 10px;
  font-size: 25px;
}

.container {
  margin: 50px 30px 50px 30px;
  padding: 20px 0 20px 0;
}

video {
  background-color: red;
}

img {
  background-color: red;
}
.stands_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.stands_container > div >div > a > img {
  background-color: blue;
  width: 400px;
  height: 400px;

}
.stands_container > div > div > p{
  text-align: center;
}

.banniere{
  width: 100%;
}