.instal_img1 {
  width: 100%;
}

.instal_txt {
  padding: 0 10px 0 10px;
  font-size: 25px;
}

.container_title {
  margin: 50px 30px 50px 30px;
  padding: 20px 0 20px 0;
}
.container_title > h2 {
  font-size: 2rem;
}
.stands_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stands_container > div > div > a > img {
  aspect-ratio: 1/1;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.stands_container > div > div > p {
  text-align: center;
  font-size: 14px;
}

.banniere {
  width: 100%;
}
.stands_container > div {
  margin-top: 5%;
}
.stands > h2 {
  font-size: 2rem;
}
.img_carou_3d{
  background-color: blue;
  object-fit: cover;
}

.avs{
  position: absolute;
  left: 50%;
  border: 1px solid white;
  height: 1080px;
  top: 0;
}

.button-wrap{
  padding-top: 40%;
}
#fin{
  height: 80%;
  object-fit: cover;
}