@media (max-width: 1280px) {
  .mere {
    width: 100% !important;
  }

  .instal_img2 {
    width: 100% !important;
  }

  .instal_txt {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1048px) {
  .svg {
    display: none;
  }

  .dark-mode footer .content {
    color: #fff !important;
  }
}

@media (max-width: 930px) {
  #resume_evenement {
    width: 100%;
  }

  .img_presentation {
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .resumer-txt {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .img_dark {
    display: none;
  }

  .stands_container>div>div>a>img {
    width: 90% !important;
    height: auto !important;
    aspect-ratio: 1/1;
  }

  .stands_container {
    flex-direction: column;
  }

  .stands_container>div>div {
    width: 100%;
  }

  .stands_container>div {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .nav {
    height: 16vw !important;
  }

  .nav>.nav-header>.nav-title {
    font-size: 8vw !important;
  }

  .switch-label {
    width: 18vw !important;
    height: 9.3vw !important;
  }

  .switch-slider {
    width: 9.5vw !important;
    height: 9.5vw !important;
  }

  .nav>.nav-btn>label>span {
    width: 7vw !important;
    height: 3vw !important;
  }
}

@media (max-width: 890px) {
  :root {
    --translateZ: 290px !important;
    --faceWidth: 150px !important;
  }

  .carousel_scene {
    width: 150px !important;

  }

  .face {
    height: 100px !important;
  }
}



@media (max-width: 645px) {
  :root {
    --translateZ: 194px !important;
    --faceWidth: 100px !important;
  }

  .carousel_scene {
    width: 100px !important;

  }

  .face {
    border: 2px solid !important;
    height: 67px !important;
  }
}